<div class="ui center aligned three column doubling grid mt-15">
  <div class="column">
    <div class="ui vertical fluid menu">
      <div class="header item">Score: {{ currentPoints }} Points</div>
    </div>
  </div>
  <div class="column">
    <div class="ui vertical fluid menu">
      <div class="header item">Bonus: {{ bonusPoints }} Points</div>
    </div>
  </div>

  <div class="column">
    <div class="ui vertical fluid menu">
      <div class="header item">Total Score: {{ totalPoints }} Points</div>
    </div>
  </div>

  <div class="column">
    <div class="ui vertical fluid menu mt-5">
      <div class="header item">Session Score: {{ sessionScore }} Points</div>
    </div>
  </div>
</div>
